.Meanings .definition {
  font-size: 15px;
  font-weight: 500;
}
.Meanings .example {
  font-weight: 300;
  font-size: 14px;
  font-style: italic;
  padding: 5px 0;
}

.Meanings h3 {
  font-weight: 400;
  text-align: right;
}
.Meanings .part {
  padding-right: 40px;
  padding-top: 8px;
}
.Meanings .vertical {
  border-left: 0.1em solid black;
}

.Meanings .Syn {
  padding-top: 6px;
  list-style: none;
  font-size: 14px;
}
